<section>
  <div id="themes" class="outputForm">
    <h3 class="headline">{{'themes.list' | translate}}</h3>
    <div *ngFor="let entry of themesObservable | async">
      <a class="link" [routerLink]="['/surveys/theme', entry.themeName,'page', 1]">{{entry.themeName | translate}}</a>
      <br>
    </div>
  </div>
</section>