<section>
  <div class="text">
    <span class="headline">{{'contacts.republic.belarus' | translate}}</span>
    <br>
    <span class="headline">{{'contacts.adress' | translate}}</span>
    <br>
    <span class="headline">{{'contacts.phone' | translate}}</span>
    <br>
    <span class="headline">{{'contacts.email' | translate}}</span>
    <br>
  </div>
</section>
