<section>
  <div class="outputForm" *ngIf="allSurveysObservable | async; let response">
    <app-surveys [surveysList]="response.surveysList"></app-surveys>
    <app-pagination [pagesNumber]="response.pagesNumber" [currentPage]="response.currentPage"></app-pagination>
  </div>
</section>