<section>
    <div class="outputForm" *ngIf="passedSurveyObservable | async; let response">
      <div *ngIf="username">
        <span>{{'passed.surveys.list.surveys.passed.by.user' | translate}}</span>
        <b>{{response.username | translate}}</b>
      </div>
      <app-surveys [surveysList]="response.surveysList"></app-surveys>
      <app-pagination [pagesNumber]="response.pagesNumber" [currentPage]="response.currentPage"></app-pagination>
    </div>
  </section>