<section>
    <div class="outputForm">
      <form>
      <b>{{surveyName}}</b>:
      <table *ngIf="this.questionsList.length > 0" id="surveyTable">
        <tr *ngFor="let entry of questionsList; let i = index" >
            <td class="leftColumn">
              <span onload="this.answersList[i].questionID = 2">{{entry.questionBody}}</span>
            </td>
            <td class="rightColumn">
              <input [(ngModel)]="answersList[i].answer" name="answer" type="text">
            </td>
          </tr>
      </table>
      <div id="sendResults">
        <a href = # onclick="return false" (click)="sendAnswers()">{{'answer.questions.send.answers' | translate}}</a>
      </div>
    </form>
    </div>
  </section>