<section>
  <div class="outputForm" *ngIf="userObservable | async; let user">
    <h3 class="headline">
      <span>{{'welcome' | translate}},</span>
      <span>{{user?.username}}</span>
    </h3>
    <table class="leftColumn">
      <tr>
        <td>
          <span>{{'username' | translate}}</span>
          <span>:</span>
        </td>
        <td>
           <span>{{user.username}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{'sex' | translate}}</span>
          <span>:</span>
        </td>
        <td>
          <span>{{user?.sex?.toLowerCase() | translate}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>
            <span>{{'birth.date' | translate}}</span>
            <span>:</span>
          </span>
        </td>
        <td>
          <span> {{user?.birthDate}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>e-mail:</span>
        </td>
        <td>
          <span> {{user?.email}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{'user.page.role' | translate}}</span>
          <span>:</span>
        </td>
        <td>
          <span>{{ user?.role?.toLowerCase() | translate}}</span>
        </td>
      </tr>
    </table>
    <a class="commandLink" [routerLink]="['/surveys/user/page/1']">{{'user.page.passed.surveys' | translate}}</a>
  </div>
</section>