<section>
  <div class="outputForm" *ngIf="surveysByThemeObservable | async; let response">
    <div>
      <span>{{'surveys.list.surveys.search.result' | translate}}</span>
      <b>{{response.themeName | translate}}</b>
    </div>
    <app-surveys [surveysList]="response.surveysList"></app-surveys>
    <app-pagination [pagesNumber]="response.pagesNumber" [currentPage]="response.currentPage"></app-pagination>
  </div>
</section>