<section>
  <div class="outputForm" *ngIf="surveyObservable | async; let response">
    <table>
        <app-survey-menu [surveyName]="response.surveyName" [userSigned]="!response.userUnsigned" [isAdmin]="response.isAdmin" [isPassed]="response.isPassed"></app-survey-menu>
        <app-questions [questionsList]="response.questionsList"></app-questions>
    </table>
    <app-pagination [pagesNumber]="response.pagesNumber" [currentPage]="response.currentPage"></app-pagination>
  </div>
</section>