<body>
  <header>
    <div class="pagesList" routerLinkActive="active">
      <a class="commandLink" [routerLink]="['/main']">{{'header.pagesList.main.page' | translate}}</a>
      <a class="commandLink" [routerLink]="['/surveys/page/1']">{{'header.pagesList.surveys' | translate}}</a>
      <a class="commandLink" [routerLink]="['/themes']">{{'header.pagesList.themes' | translate}}</a>
      <a class="commandLink" [routerLink]="['/order']">{{'header.pagesList.order.survey' | translate}}</a>
      <a class="commandLink" [routerLink]="['/about']">{{'header.pagesList.about.us' | translate}}</a>
      <a class="commandLink" [routerLink]="['/contacts']">{{'header.pagesList.contacts' | translate}}</a>
      <div class="language" id="language">
        <a href="" data-locale="en" id="en" class="commandLink" (click)="setLocale('en');">en</a>
        <span>/</span>
        <a href="" data-locale="ru" id="ru" class="commandLink" (click)="setLocale('ru');">ru</a>
      </div>
    </div>
    <div class="logo">
      <img src="assets/img/logo.PNG" width=340 height=100 alt="{{'header.logo' | translate}}">
    </div>
    <app-login class="register" id="register"></app-login>
    <div class="topicList" id="topicList" routerLinkActive="active">
      <a class="commandLink" [routerLink]="['/surveys/theme/auto/page/1']">{{'topic.list.auto' | translate}}</a>
      <a class="commandLink" [routerLink]="['/surveys/theme/society/page/1']">{{'topic.list.society' | translate}}</a>
      <a class="commandLink" [routerLink]="['/surveys/theme/career/page/1']">{{'topic.list.career' | translate}}</a>
      <a class="commandLink" [routerLink]="['/surveys/theme/politics/page/1']">{{'topic.list.politics' | translate}}</a>
      <a class="commandLink" [routerLink]="['/surveys/theme/religion/page/1']">{{'topic.list.religion' | translate}}</a>
      <a class="commandLink" [routerLink]="['/surveys/theme/sport/page/1']">{{'topic.list.sport' | translate}}</a>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <span>{{'footer.text' | translate}}</span>
    <span>"Java Web Development".</span>
    <br>
    <span>©
      <span>{{'footer.copyright' | translate}}</span>
      2017.
    </span>
  </footer>
</body>
