<div *ngIf="pagesNumber>1;">
    <span>{{'pages' | translate}}</span>
    <br>
    <ng-template ngFor let-item [ngForOf]="paginationService.createRange(pagesNumber)" let-currentElementIndex="index+1">
        <span *ngIf="this.currentPage != currentElementIndex; else currentPageSpan">
            <a (click)="paginationService.changePage(currentElementIndex, router)" class="commandLink">{{currentElementIndex}}</a>
        </span>
        <ng-template #currentPageSpan>
            <span class="currentPage">{{currentElementIndex}}</span>
        </ng-template>
    </ng-template>
</div>