<div *ngIf="this.username;else loginForm">
  <span class = "registrationForm">{{'header.register.username' | translate}}</span>
  <b class = "registrationForm">{{username}}</b><br>
  <a class="registrationLink" [routerLink]="['/user']">{{'header.register.user.page' | translate}}</a>  
  <span>/</span>
  <a href = # class = "registrationLink" onclick="return false"  (click)="logout()">{{'header.register.logout' | translate}}</a><br>
  <div *ngIf="this.isAdmin">
    <a href = # class = "registrationLink" id = "adminOptions">{{'administrators.options' | translate}}</a><br>
  </div>
</div>
<ng-template #loginForm>
<form #form>
	<input type = "text" name = "login_username" id = "login_username" size="15"/><br>
  <input type = "password" name = "login_password" id = "login_password" size="15"/><br>
	<a href = #  id = "login" onclick="return false;"  (click)="login(form.login_username.value, form.login_password.value)">{{'header.register.login' | translate}}</a>
	<span>/</span>
	<a class="registrationLink" [routerLink]="['/registration']">{{'header.register.register' | translate}}</a><br>	
</form>
</ng-template>



