    <table id="surveyTable" *ngIf="this.surveysList.length;else no_surveys">
        <tr>
            <td class="leftColumn">
              <span>{{'survey.name' | translate}}</span>
            </td>
            <td class="rightColumn">
              <span>{{'questions.number' | translate}}</span>
            </td>
          </tr>
      <tr *ngFor="let entry of surveysList">
        <td class="leftColumn">
          <a class="link" [routerLink]="['/questions/survey', entry.surveyName, 'page', 1]">{{entry.surveyName}}</a>  
        </td>
        <td class="rightColumn">
          <span>{{entry.questionsNumber}}</span>
        </td>
      </tr>
    </table>
    <ng-template #no_surveys>
          <span>{{'surveys.list.wasnt.found' | translate}}</span>
  </ng-template>