<section>
  <div class="outputForm">
    <h3 class="headline">{{'registration.registration' | translate}}</h3>
    <form name="testForm" id="registrationForm" (ngSubmit)="registerUser(form.valid)" #form="ngForm">
      <table id="container">
        <tr>
          <td>
            <span>{{'username' | translate}}</span>: </td>
          <td>
            <div class="form-group">
              <input id="username" name="username" required minlength="5" pattern="[a-zA-Z ]*" [(ngModel)]="user.username" #username="ngModel"
                class="form-control">
            </div>
          </td>
          <td>
            <span [hidden]="!this.userExists" class="err" id="err-uname">{{'user.already.exists' | translate}}</span>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="err">
              <div *ngIf="username.errors.required">
                {{'js.fill.field' | translate}}
              </div>
              <div *ngIf="username.errors.minlength">
                {{'js.incorrect.username.length' | translate}}
              </div>
              <div *ngIf="username.errors.pattern">
                {{'js.incorrect.username' | translate}}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'password' | translate}}</span>:
          </td>
          <td>
            <div class="form-group">
              <input type="password" id="password" name="password" required minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$"
                validateEqual="password2" reverse="true" [(ngModel)]="user.password" #password="ngModel" class="form-control">
            </div>
          </td>
          <td>
            <!-- <span class="err" id="err-pwd1"></span> -->
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="err">
              <div *ngIf="password.errors.required">
                {{'js.fill.field' | translate}}
              </div>
              <div *ngIf="password.errors.minlength">
                {{'js.incorrect.pass.length' | translate}}
              </div>
              <div *ngIf="password.errors.pattern && !password.errors.minlength">
                {{'js.wrong.pass' | translate}}
              </div>
              <span class="err" [hidden]="(password.valid || (password.pristine && !form.submitted)) || password.errors.minlength || password.errors.pattern">
                {{'js.pwd.not.equal' | translate}}
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'registration.repeat.password' | translate}}</span>:
          </td>
          <td>
            <div class="form-group">
              <input type="password" id="password2" name="password2" validateEqual="password" [(ngModel)]="user.password2" #password2="ngModel"
                class="form-control">
            </div>
          </td>
          <td>
            <span class="err" id="err-pwd2"></span>
            <span class="err" [hidden]="password2.valid || (password2.pristine && !form.submitted)">
              {{'js.pwd.not.equal' | translate}}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'birth.date' | translate}}</span>:
          </td>
          <td>
            <input type="date" id="birthDate" name="birthDate" max="2010-01-01" min="1900-01-01" title="Enter your birthdate" [(ngModel)]="user.birthDate">
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'sex' | translate}}</span>:
          </td>
          <td>
            <input type="radio" id="male" name="sex" value="MALE" [(ngModel)]="user.sex">
            <span>{{'registration.male' | translate}}</span>
            <br>
            <input type="radio" id="female" name="sex" value="FEMALE" [(ngModel)]="user.sex">
            <span>{{'registration.female' | translate}}</span>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <span>e-mail:</span>
          </td>
          <td>
            <div class="form-group">
              <input type="text" name="email" id="email" required pattern="(.+)(@)(.+)(.)+" [(ngModel)]="user.email" #email="ngModel">
            </div>
            <br>
          </td>
          <td>
            <span class="err" id="emailError"></span>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="err">
              <div *ngIf="email.errors.required">
                {{'js.fill.field' | translate}}
              </div>
              <div *ngIf="email.errors.pattern">
                {{'js.incorrect.email.format' | translate}}
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="submit">
        <button type="submit" class="commandLink">{{'registration.confirm.registration' | translate}}</button>
      </div>
    </form>
  </div>
</section>