<section>
  <div class="outputForm" *ngIf="questionsAnswersObservable | async; let response">
    <table>
      <tr>
        <th class="leftColumn">
          <span>{{response.surveyName}}:</span>
        </th>
      </tr>
      <tr *ngFor="let entry of response.questionsAnswersList">
        <td class="leftColumn">
          <span>{{entry.questionBody}}</span>
        </td>
        <td class="rightColumn">
          <span>{{entry.answerBody}}</span>
        </td>
      </tr>
    </table>
    <app-pagination  [pagesNumber]="response.pagesNumber" [currentPage]="response.currentPage"></app-pagination>
  </div>
</section>

