<aside id="popular" class="popular">
  <h4>{{'facePage.popular' | translate}}</h4>
  <div *ngFor="let entry of surveysObservable | async">
    <a class="link" [routerLink]="['/questions/survey', entry.surveyName, 'page', 1]">{{entry.surveyName}}</a>
    <br>
  </div>
</aside>
<section>
  <div class="text">
    <h2 class="headline">{{'welcome' | translate}}</h2>
    <span class="headline">{{'welcome.text' | translate}}</span>
    <br>
  </div>
</section>
