<tr>
<div *ngIf="surveyName">
  <th class="leftMenuColumn">
    <span>{{surveyName}}:</span>
  </th>
  <th class="rightColumn">
    <div *ngIf="this.userSigned; else unregisteredUser">
      <div *ngIf="this.isPassed; else surveyUnpassed">
        <a class="link" [routerLink]="['/survey', surveyName]">{{'repass.survey' | translate}}</a>
        <br>
        <a a class="link" [routerLink]="['/answers/survey', surveyName, 'page', 1]">{{'view.your.answers' | translate}}</a>
        <br>
      </div>
      <ng-template #surveyUnpassed>
        <a class="link" [routerLink]="['/survey', surveyName]">{{'questions.list.in.survey.pass.survey' | translate}}</a>
        <br>
      </ng-template>

      <div *ngIf="this.isAdmin">
        <a href=# class="link" onclick="return false;">{{'questions.list.in.survey.users.passed.survey' | translate}}</a>
        <br>
        <a href=# class="link" onclick="return false;">{{'questions.list.in.survey.answers.for.questions' | translate}}</a>
        <br>
        <a href=# class="link" onclick="return false;">{{'questions.list.in.survey.add.questions.in.survey' | translate}}</a>
        <br>
        <a href=# class="link" onclick="return false;">{{'questions.list.in.survey.delete.questions.from.survey' | translate}}</a>
        <br>
        <a href=# class="link" onclick="return false;">{{'questions.list.in.survey.delete.survey' | translate}}</a>
        <br>
      </div>
    </div>
    <ng-template #unregisteredUser>
      <span>{{'questions.list.in.survey.only.for.registered' | translate}}</span>
      <br>
    </ng-template>
  </th>
</div>
</tr>
